<div class="main">
<div class="inputDiv">
  <input type="text" placeholder="enter the Number" id = "number" [(ngModel)]="InputValue">
  

</div>
<div style="display: flex;">
<div class="operatorMain">
  <div class="operatorDivchild">
    <div id="op1" class="divop" (click)="operate('+')">+</div>
    <div id="op2" class="divop"(click)="operate('-')">-</div>
    <div id="op3" class="divop"(click)="operate('*')">*</div>  
    <div id="op4" class="divop"(click)="operate('/')">/</div>
    <div id="op5" class="divop"(click)="operate('%')">.</div>
    <div id="op6" class="divop">(</div>  
    <div id="op7" class="divop">)</div>
    <div>
      <button type="button" (click)="Result()">= </button>
    </div> 
    <div> <button type="button" (click)="Clear()"> AC </button></div>
   </div>
</div>
<div class="numberDiv">
  <div class="numberDivchild">
    <div id="1" class="divItems" (click)="operate('1')">1</div>
    <div id="2" class="divItems" (click)="operate('2')">2</div>
    <div id="3" class="divItems" (click)="operate('3')">3</div>  
    <div id="4" class="divItems" (click)="operate('4')">4</div>
    <div id="5" class="divItems" (click)="operate('5')">5</div>
    <div id="6" class="divItems" (click)="operate('6')">6</div>  
    <div id="7" class="divItems" (click)="operate('7')">7</div>
    <div id="8" class="divItems" (click)="operate('8')">8</div>
    <div id="9" class="divItems" (click)="operate('9')">9</div>
    <div></div>
    <div id="0" class="divItems"(click)="operate('0')">0</div> 
  </div>
</div>
</div>


</div>

